

*{
    box-sizing: border-box;
}

h1{
    margin-bottom: 20px;
    margin-top: 20px;
    padding-bottom: 20px;
    
    font-size: 30px;
    line-height: 40px;
    border-bottom: 3px solid #aaa;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
 h2{
   text-align: center;
   border-bottom: 3px solid #aaa;
   margin-bottom: 20px;
   margin-top: 20px;
 }

.navbar-brand{
  font-size: 30px ;
  font-weight: 600;
  text-align: center;
  left: 80px;
  background: teal;
  top: -20px;
  /* padding: 10px 25px; */
  color: #fff;
  margin-left: 10px;
  padding: 0 15px;
  height: 80px;
  line-height: 80px;
}



.navbar-right > li {
    margin-top: 15px;
    border-left: 1px solid #efefef;
}

.navbar-right > li:first-of-type
{
    border-left: none;
}


/* .navbar-brand{
    text-align: center;
    font-weight: 600;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    color: #fff;
    position: fixed;
    left:90px;
    top:10px;
    text-align: center;
} */
#myname{
  
color: white;
padding-left: 20px;
padding-right: 20px;
margin-left: 20px;
margin-top:-20px; 
margin-bottom: -20px; 

}
#myname:hover{
  color:rebeccapurple;
}
#main{
  text-align: left;
}

/* #main-container {
    min-height: 100%
} */


/* #navbar{
   border-bottom: 1px solid grey;
} */
.navbar-nav{
  font-size: 20px;
  
}
body{
    font-size: 16px;
    line-height: 1.5;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
    color: black;
    background-color: lightgrey;
  
}
#About{
  background: white;
  margin-top: 50px;
  margin-left: 30px;
}



#footer{
   border-top: 8px solid #4aaaa5;
}
#name{
  font-size: 25px;
}

/* #myphoto{
    
  max-width: 25%;
  margin-bottom: 15px;
  margin-right: 15px;
  margin-left: 15px;
  display: block;

} */

.portfolio-overlay {
		position: relative;
		background-color: rgb(234, 234, 234);
		height: 40px;
		line-height: 40px;
		margin-bottom: 0;
		margin-top: 0;
		text-align: center;
		width: 100%;
		opacity: 0.9;
		}
		
		/* .card-img-overlay:hover {
		transform: rotate(-4deg) scale(1.1, 1.1);
		} */
	  
	  .card-img-overlay {
		display: flex;
		top: -60px;
		justify-content: center;
		align-items: flex-end;
		align-content: flex-end;
		padding: 1em;
		z-index: 1000;
		width: 361px
	
    }
    

    .thumbnail 
{
    max-width: 100%;
    position: relative;
    border: none;
}

.caption {
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 50%;
}

.work img {
    opacity: .8;
}

.work h3 { 
    padding: 15px;
    line-height: 30px;
    border-bottom: 0;
    margin-bottom: 0; 
    text-align: center;
    font-weight: 300;
    background: #bc4f5e;
    color: #fff;
} 

.work:hover img {
    opacity: 1;
}